Cogni-draw/.vs/
Cogni-draw/*.vcxproj
Cogni-draw/*.vcxproj.filters
Cogni-draw/*.vcxproj.user
Cogni-draw/*.suo
Cogni-draw/*.user
Cogni-draw/*.userosscache
Cogni-draw/*.sln.docstates
Cogni-draw/Cogni-draw/x64/
